<!doctype html>
<html>

<head>
    <title>
        TF POS
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://drrjhlchpvi7e.cloudfront.net/libs/stamplay-js-sdk/2.1.1/stamplay.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script>
        Stamplay.init("tfpos");
    </script>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/app.js"></script>
</head>

<body ng-app="app">
    <div id="id_wrapper">
        <div id="header">
            <h1>
        TF POS
      </h1>
        </div>
        <div id="content" ng-controller="test" class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
            {{{body}}}
        </div>

        <div id="footer">
            <h5>
         - create by Ryan -
      </h5>
        </div>

    </div>
</body>

</html>
