<div class="container orderListForm">
    <div>
        <h2>清單:</h2>
    </div>
    <div class="orderList" ng-class="{'orderListOpen': ctrl.orderListOpenStatus, 'orderListClose': !ctrl.orderListOpenStatus} ">
    <!-- <div class="orderList" class="orderListOpen"> -->

    </div>
      ---
    </div>
    <div class="orderListArrow" >
        <img src="/img/down-arrow.png" ng-click="ctrl.openArrow()"/>
    </div>

</div>
